tickTime=2000
dataDir=/var/lib/zookeeper
clientPort=2181
maxClientCnxns=60
initLimit=10
syncLimit=5
server.1={{ ch1 }}:2888:3888
server.2={{ ch2 }}:2888:3888
server.3={{ ch3 }}:2888:3888
#server.1=0.0.0.0:2888:3888 # текущая нода
